@inherits LayoutComponentBase

<div class="account-shell">
    <div class="account-card">
        <div class="account-brand">
            <LucideIcon Name="mail-check" Size="28" />
            <span>WinSmtpRelay</span>
        </div>
        @Body
    </div>
</div>
